package home 

import "invoicething/view/layout"

templ authenticated() {
	<div>Is authenticated</div>
}

templ unauthenticated() {
	<div>Is not authenticated</div>
}

templ Show (isLoggedIn bool, route string) {
	@layout.Base(isLoggedIn, route) {
		if isLoggedIn {
			@authenticated()
		} else {
			@unauthenticated()
		}
	}
}
