package home 

import "invoicething/view/layout"

templ authenticated() {
	<div class="ml-5">Is authenticated</div>
}

templ unauthenticated() {
	<div class="ml-5">Is not authenticated</div>
}

templ Show (isLoggedIn bool, route string, profileImageUrl string) {
	@layout.Base(isLoggedIn, route, profileImageUrl) {
		if isLoggedIn {
			@authenticated()
		} else {
			@unauthenticated()
		}
	}
}
